@using StayHousingCommon
@{
    ViewBag.Title = "Holidays";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<style>
    .group {
        background-color: #F7F8F9;
    }

    .checkbox label {
        margin-bottom: 8px;
        margin-left: 40%;
    }

    .hidden {
        color: transparent;
    }

    #menu-table tr td {
        padding-bottom: 0;
        padding-top: 0;
    }

    #holidays-table tr td {
        padding-bottom: 8.5px;
        padding-top: 8.5px;
    }

    #holidays-table {
        text-align: center;
        vertical-align: middle;
        border: 1px solid #dee2e6;
        box-shadow: 0 0px 5px 0px rgba(0,0,0,0.42);
    }
</style>


<!-- buttons -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdnSessionGroup" value="@StayHousingCommon.SessionVar.GroupTitle" />
        <input type="hidden" id="hdnSessionGroupID" value="@StayHousingCommon.SessionVar.GroupID" />
        <input type="hidden" id="hdnLeaves" />
        <input type="hidden" id="hndAvailLeaves" />

        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <ul id="Tabs" class="nav nav-tabs nav-bordered nav-justified">
                            <li class="nav-item">
                                <a id="BookedTab" onclick="LoadAllHoliday('Booked');" href="#" data-toggle="tab" aria-expanded="false" class="nav-link active">Holidays Booked</a>
                            </li>
                            <li class="nav-item">
                                <a id="ApprovedTab" onclick="LoadAllHoliday('Approved');" href="#" data-toggle="tab" aria-expanded="true" class="nav-link ">Holidays Approved</a>
                            </li>
                            <li class="nav-item">
                                <a id="TakenTab" onclick="LoadAllHoliday('Taken');" href="#" data-toggle="tab" aria-expanded="true" class="nav-link ">Holidays Taken</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-10">
                        <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#Holiday-modal">Add New Holiday</button>
                    </div>
                    <div class="col-md-2">
                        <label for="field-2" class="control-label">Holiday Entitlement : </label>
                        <label for="field-2" id="HolidayEntitlementLabel" class="control-label"> 0 </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="holidays-table" class="table table-centered table-striped nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>SLNO</th>
                                        <th>FullName</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Type</th>
                                        <th>Reason</th>
                                        <th>Approved</th>
                                        <th>Days</th>
                                        <th>Approved by</th>
                                        <th>Permission</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

</div>

<!-- sample modal content -->


<div id="Holiday-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none; " data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="HolidayForm" data-parsley-validate="">
                <div class="modal-header" style="background-color:#3FC3AE !important">
                    <h4 class="modal-title" style="color:#fff !important">Add New Holiday</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#fff !important">×</button>
                </div>
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Start Date</label>
                                <input type="hidden" class="form-control" id="ID" name="ID">
                                <input type="text" class="form-control flatpickr-input" id="HolidayDate" name="HolidayDate" placeholder="Start Date" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">End Date</label>
                                <input type="hidden" class="form-control" id="ID" name="ID">
                                <input type="text" class="form-control flatpickr-input" data-parsley-daterangevalidation='' id="HolidayEndDate" name="HolidayEndDate" placeholder="End Date" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label for="field-2" class="control-label">Holiday Type</label>
                            <div class="form-group my-1">
                                <div class="radio radio-success form-check-inline">
                                    <input type="radio" id="VacationRadio" value="Vacation" name="HolidayType" checked>
                                    <label for="inlineRadio1"> Holiday </label>
                                </div>
                                <div class="radio radio-info form-check-inline">
                                    <input type="radio" id="SickRadio" value="Sick" name="HolidayType">
                                    <label for="inlineRadio2"> Off Sick </label>
                                </div>
                                <div class="radio radio-danger form-check-inline">
                                    <input type="radio" id="OtherRadio" value="Others" name="HolidayType">
                                    <label for="inlineRadio2"> Other </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Number of Days</label>
                                <input type="number" class="form-control" id="HolidayDays" placeholder="Days" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Reason</label>
                                <textarea class="form-control" id="Reason" name="Reason" placeholder="Reason here.." required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" id="HolidaySave" class="btn btn-success waves-effect waves-light">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->
<div id="Holiday-Approved-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none; " data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="HolidayApproveForm" data-parsley-validate="">
                <div class="modal-header" style="background-color:#3FC3AE !important">
                    <h4 class="modal-title" style="color:#fff !important">Approve Holiday</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#fff !important">×</button>
                </div>
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Approval Date</label>
                                <input type="hidden" class="form-control" id="ID" name="ID">
                                <input type="text" class="form-control flatpickr-input" id="ApprovalDate" name="ApprovalDate" placeholder="Approval Date" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Permission Date</label>
                                <input type="hidden" class="form-control" id="ID" name="ID">
                                <input type="text" class="form-control flatpickr-input" id="PermissionDate" name="PermissionDate" placeholder="Permission Date" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Approved By</label>
                                <input type="text" class="form-control" id="ApprovedBy" placeholder="Approved By" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Permission Granted By</label>
                                <input type="text" class="form-control" id="PermissionBy" placeholder="Permission Granted By" required autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" id="Permission" placeholder="Permission Granted By" required>
                                <label for="field-1" class="control-label">I confirm that all of the above information is true and accurate.’ </label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" id="HolidaySave" class="btn btn-success waves-effect waves-light">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/assets/libs/momentjs/moment.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script src="@Url.Content("~/CustomContent/Holiday.js")?@AppSettings.Version"></script>